<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{general/fragmentos :: head}"></head>
    <body>
        <header th:replace="~{general/fragmentos :: header}"></header>

        <section class="container py-5">
            <div class="row justify-content-center">
                <div class="col-md-5">
                    <div class="card">
                        <div class="card-body p-4">
                            <h3 class="font-serif">[[#{recuperacion.titulo}]]</h3>
                            <p class="text-muted small">[[#{recuperacion.subtitulo}]]</p>

                            <form th:action="@{/olvide-password}" method="post" class="was-validated mt-4">
                                <div class="mb-3">
                                    <label for="correo">[[#{recuperacion.correo}]]</label>
                                    <input type="email" class="form-control" name="correo" id="correo" required="true"/>
                                </div>
                                <div class="d-grid mt-4">
                                    <button type="submit" class="btn btn-success py-2">[[#{recuperacion.enviarEnlace}]]</button>
                                </div>
                            </form>

                            <p class="text-center mt-3">
                                <a th:href="@{/login}">[[#{recuperacion.volverLogin}]]</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section th:replace="~{general/fragmentos :: mostrarToast}"/>
        <footer th:replace="~{general/fragmentos :: footer}"></footer>
    </body>
</html>
