<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{general/fragmentos :: head}"></head>
    <body>
        <header th:replace="~{general/fragmentos :: header}"></header>

        <section class="container py-5">
            <div class="row justify-content-center">
                <div class="col-md-5">
                    <div class="card">
                        <div class="card-body p-4">

                            <div th:if="${exito}">
                                <h3 class="font-serif">[[#{recuperacion.tituloRestablecer}]]</h3>
                                <p class="text-success mt-3">[[#{recuperacion.exito}]]</p>
                                <a th:href="@{/login}" class="btn btn-success py-2 d-block">[[#{plantilla.iniciarSesion}]]</a>
                            </div>

                            <div th:unless="${exito}">
                                <h3 class="font-serif">[[#{recuperacion.tituloRestablecer}]]</h3>
                                <p class="text-muted small">[[#{recuperacion.subtituloRestablecer}]]</p>

                                <form th:action="@{/restablecer-password}" method="post" class="was-validated mt-4">
                                    <input type="hidden" name="token" th:value="${token}"/>
                                    <div class="mb-3">
                                        <label for="password">[[#{recuperacion.nuevaPassword}]]</label>
                                        <input type="password" class="form-control" name="password" id="password" minlength="8" required="true"/>
                                    </div>
                                    <div class="mb-3">
                                        <label for="confirmar">[[#{recuperacion.confirmarPassword}]]</label>
                                        <input type="password" class="form-control" name="confirmar" id="confirmar" minlength="8" required="true"/>
                                    </div>
                                    <div class="d-grid mt-4">
                                        <button type="submit" class="btn btn-success py-2">[[#{recuperacion.guardar}]]</button>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section th:replace="~{general/fragmentos :: mostrarToast}"/>
        <footer th:replace="~{general/fragmentos :: footer}"></footer>
    </body>
</html>
